# Python
__pycache__/
*.pyc
venv/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars

# AWS & Environment
.env
.aws/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

screenshots/
*.pdf

# Lambda packages
*.zip